<a id="1" class="Symbol">{-#</a> <a id="5" class="Keyword">OPTIONS</a> <a id="13" class="Pragma">--without-K</a> <a id="25" class="Pragma">--exact-split</a> <a id="39" class="Pragma">--safe</a> <a id="46" class="Symbol">#-}</a>

<a id="51" class="Keyword">module</a> <a id="58" href="Booleans.html" class="Module">Booleans</a> <a id="67" class="Keyword">where</a>

<a id="74" class="Keyword">open</a> <a id="79" class="Keyword">import</a> <a id="86" href="Utilities.html" class="Module">Utilities</a> <a id="96" class="Keyword">public</a>

<a id="104" class="Keyword">data</a> <a id="𝔹"></a><a id="109" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="111" class="Symbol">:</a> <a id="113" class="PrimitiveType">Set</a> <a id="117" class="Keyword">where</a>
  <a id="𝔹.tt"></a><a id="125" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="𝔹.ff"></a><a id="128" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="131" class="Symbol">:</a> <a id="133" href="Booleans.html#109" class="Datatype">𝔹</a>

<a id="136" class="Symbol">{-#</a> <a id="140" class="Keyword">BUILTIN</a> <a id="148" class="Pragma">BOOL</a> <a id="153" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="155" class="Symbol">#-}</a>
<a id="159" class="Symbol">{-#</a> <a id="163" class="Keyword">BUILTIN</a> <a id="171" class="Pragma">TRUE</a> <a id="176" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="179" class="Symbol">#-}</a>
<a id="183" class="Symbol">{-#</a> <a id="187" class="Keyword">BUILTIN</a> <a id="195" class="Pragma">FALSE</a> <a id="201" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="204" class="Symbol">#-}</a>

<a id="209" class="Keyword">infix</a> <a id="215" class="Number">7</a> <a id="217" href="Booleans.html#271" class="Function Operator">~_</a>
<a id="220" class="Keyword">infixl</a> <a id="227" class="Number">6</a> <a id="229" href="Booleans.html#389" class="Function Operator">_xor_</a> <a id="235" href="Booleans.html#468" class="Function Operator">_nand_</a>
<a id="242" class="Keyword">infixr</a> <a id="249" class="Number">6</a> <a id="251" href="Booleans.html#303" class="Function Operator">_&amp;&amp;_</a>
<a id="256" class="Keyword">infixr</a> <a id="263" class="Number">5</a> <a id="265" href="Booleans.html#346" class="Function Operator">_||_</a>

<a id="~_"></a><a id="271" href="Booleans.html#271" class="Function Operator">~_</a> <a id="274" class="Symbol">:</a> <a id="276" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="278" class="Symbol">→</a> <a id="280" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="282" href="Booleans.html#271" class="Function Operator">~</a> <a id="284" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="287" class="Symbol">=</a> <a id="289" href="Booleans.html#128" class="InductiveConstructor">ff</a>
<a id="292" href="Booleans.html#271" class="Function Operator">~</a> <a id="294" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="297" class="Symbol">=</a> <a id="299" href="Booleans.html#125" class="InductiveConstructor">tt</a>

<a id="_&amp;&amp;_"></a><a id="303" href="Booleans.html#303" class="Function Operator">_&amp;&amp;_</a> <a id="308" class="Symbol">:</a> <a id="310" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="312" class="Symbol">→</a> <a id="314" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="316" class="Symbol">→</a> <a id="318" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="320" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="323" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="326" href="Booleans.html#326" class="Bound">c</a> <a id="328" class="Symbol">=</a> <a id="330" href="Booleans.html#326" class="Bound">c</a>
<a id="332" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="335" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="338" class="Symbol">_</a> <a id="340" class="Symbol">=</a> <a id="342" href="Booleans.html#128" class="InductiveConstructor">ff</a>

<a id="_||_"></a><a id="346" href="Booleans.html#346" class="Function Operator">_||_</a> <a id="351" class="Symbol">:</a> <a id="353" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="355" class="Symbol">→</a> <a id="357" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="359" class="Symbol">→</a> <a id="361" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="363" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="366" href="Booleans.html#346" class="Function Operator">||</a> <a id="369" class="Symbol">_</a> <a id="371" class="Symbol">=</a> <a id="373" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="376" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="379" href="Booleans.html#346" class="Function Operator">||</a> <a id="382" href="Booleans.html#382" class="Bound">c</a> <a id="384" class="Symbol">=</a> <a id="386" href="Booleans.html#382" class="Bound">c</a>

<a id="_xor_"></a><a id="389" href="Booleans.html#389" class="Function Operator">_xor_</a> <a id="395" class="Symbol">:</a> <a id="397" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="399" class="Symbol">→</a> <a id="401" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="403" class="Symbol">→</a> <a id="405" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="407" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="410" href="Booleans.html#389" class="Function Operator">xor</a> <a id="414" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="417" class="Symbol">=</a> <a id="419" href="Booleans.html#128" class="InductiveConstructor">ff</a>
<a id="422" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="425" href="Booleans.html#389" class="Function Operator">xor</a> <a id="429" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="432" class="Symbol">=</a> <a id="434" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="437" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="440" href="Booleans.html#389" class="Function Operator">xor</a> <a id="444" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="447" class="Symbol">=</a> <a id="449" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="452" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="455" href="Booleans.html#389" class="Function Operator">xor</a> <a id="459" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="462" class="Symbol">=</a> <a id="464" href="Booleans.html#128" class="InductiveConstructor">ff</a>

<a id="_nand_"></a><a id="468" href="Booleans.html#468" class="Function Operator">_nand_</a> <a id="475" class="Symbol">:</a> <a id="477" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="479" class="Symbol">→</a> <a id="481" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="483" class="Symbol">→</a> <a id="485" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="487" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="490" href="Booleans.html#468" class="Function Operator">nand</a> <a id="495" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="498" class="Symbol">=</a> <a id="500" href="Booleans.html#128" class="InductiveConstructor">ff</a>
<a id="503" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="506" href="Booleans.html#468" class="Function Operator">nand</a> <a id="511" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="514" class="Symbol">=</a> <a id="516" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="519" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="522" href="Booleans.html#468" class="Function Operator">nand</a> <a id="527" class="Symbol">_</a> <a id="529" class="Symbol">=</a> <a id="531" href="Booleans.html#125" class="InductiveConstructor">tt</a>

<a id="_imp_"></a><a id="535" href="Booleans.html#535" class="Function Operator">_imp_</a> <a id="541" class="Symbol">:</a> <a id="543" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="545" class="Symbol">→</a> <a id="547" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="549" class="Symbol">→</a> <a id="551" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="553" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="556" href="Booleans.html#535" class="Function Operator">imp</a> <a id="560" href="Booleans.html#560" class="Bound">b</a> <a id="562" class="Symbol">=</a> <a id="564" href="Booleans.html#560" class="Bound">b</a>
<a id="566" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="569" href="Booleans.html#535" class="Function Operator">imp</a> <a id="573" class="Symbol">_</a> <a id="575" class="Symbol">=</a> <a id="577" href="Booleans.html#125" class="InductiveConstructor">tt</a>


<a id="~-involutive"></a><a id="582" href="Booleans.html#582" class="Function">~-involutive</a> <a id="595" class="Symbol">:</a> <a id="597" class="Symbol">(</a><a id="598" href="Booleans.html#598" class="Bound">b</a> <a id="600" class="Symbol">:</a> <a id="602" href="Booleans.html#109" class="Datatype">𝔹</a><a id="603" class="Symbol">)</a> <a id="605" class="Symbol">→</a> <a id="607" class="Symbol">(</a><a id="608" href="Booleans.html#271" class="Function Operator">~</a> <a id="610" class="Symbol">(</a><a id="611" href="Booleans.html#271" class="Function Operator">~</a> <a id="613" href="Booleans.html#598" class="Bound">b</a><a id="614" class="Symbol">))</a> <a id="617" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="619" href="Booleans.html#598" class="Bound">b</a>
<a id="621" href="Booleans.html#582" class="Function">~-involutive</a> <a id="634" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="637" class="Symbol">=</a> <a id="639" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="644" class="Symbol">_</a>
<a id="646" href="Booleans.html#582" class="Function">~-involutive</a> <a id="659" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="662" class="Symbol">=</a> <a id="664" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="669" class="Symbol">_</a>

<a id="xor-anti"></a><a id="672" href="Booleans.html#672" class="Function">xor-anti</a> <a id="681" class="Symbol">:</a> <a id="683" class="Symbol">(</a><a id="684" href="Booleans.html#684" class="Bound">b</a> <a id="686" class="Symbol">:</a> <a id="688" href="Booleans.html#109" class="Datatype">𝔹</a><a id="689" class="Symbol">)</a> <a id="691" class="Symbol">→</a> <a id="693" class="Symbol">(</a><a id="694" href="Booleans.html#684" class="Bound">b</a> <a id="696" href="Booleans.html#389" class="Function Operator">xor</a> <a id="700" href="Booleans.html#684" class="Bound">b</a><a id="701" class="Symbol">)</a> <a id="703" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="705" href="Booleans.html#128" class="InductiveConstructor">ff</a>
<a id="708" href="Booleans.html#672" class="Function">xor-anti</a> <a id="717" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="720" class="Symbol">=</a> <a id="722" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="727" class="Symbol">_</a>
<a id="729" href="Booleans.html#672" class="Function">xor-anti</a> <a id="738" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="741" class="Symbol">=</a> <a id="743" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="748" class="Symbol">_</a>


<a id="imp-def"></a><a id="752" href="Booleans.html#752" class="Function">imp-def</a> <a id="760" class="Symbol">:</a> <a id="762" class="Symbol">(</a><a id="763" href="Booleans.html#763" class="Bound">b</a> <a id="765" href="Booleans.html#765" class="Bound">c</a> <a id="767" class="Symbol">:</a> <a id="769" href="Booleans.html#109" class="Datatype">𝔹</a><a id="770" class="Symbol">)</a> <a id="772" class="Symbol">→</a> <a id="774" class="Symbol">(</a><a id="775" href="Booleans.html#763" class="Bound">b</a> <a id="777" href="Booleans.html#535" class="Function Operator">imp</a> <a id="781" href="Booleans.html#765" class="Bound">c</a><a id="782" class="Symbol">)</a> <a id="784" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="786" class="Symbol">(</a><a id="787" href="Booleans.html#271" class="Function Operator">~</a> <a id="789" href="Booleans.html#763" class="Bound">b</a> <a id="791" href="Booleans.html#346" class="Function Operator">||</a> <a id="794" href="Booleans.html#765" class="Bound">c</a><a id="795" class="Symbol">)</a>
<a id="797" href="Booleans.html#752" class="Function">imp-def</a> <a id="805" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="808" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="811" class="Symbol">=</a> <a id="813" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="818" class="Symbol">_</a>
<a id="820" href="Booleans.html#752" class="Function">imp-def</a> <a id="828" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="831" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="834" class="Symbol">=</a> <a id="836" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="841" class="Symbol">_</a>
<a id="843" href="Booleans.html#752" class="Function">imp-def</a> <a id="851" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="854" href="Booleans.html#854" class="Bound">c</a> <a id="856" class="Symbol">=</a> <a id="858" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="863" class="Symbol">_</a>

<a id="&amp;&amp;-comm"></a><a id="866" href="Booleans.html#866" class="Function">&amp;&amp;-comm</a> <a id="874" class="Symbol">:</a> <a id="876" class="Symbol">(</a><a id="877" href="Booleans.html#877" class="Bound">b</a> <a id="879" href="Booleans.html#879" class="Bound">c</a> <a id="881" class="Symbol">:</a> <a id="883" href="Booleans.html#109" class="Datatype">𝔹</a><a id="884" class="Symbol">)</a> <a id="886" class="Symbol">→</a> <a id="888" class="Symbol">(</a><a id="889" href="Booleans.html#879" class="Bound">c</a> <a id="891" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="894" href="Booleans.html#877" class="Bound">b</a><a id="895" class="Symbol">)</a> <a id="897" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="899" class="Symbol">(</a><a id="900" href="Booleans.html#877" class="Bound">b</a> <a id="902" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="905" href="Booleans.html#879" class="Bound">c</a><a id="906" class="Symbol">)</a>
<a id="908" href="Booleans.html#866" class="Function">&amp;&amp;-comm</a> <a id="916" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="919" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="922" class="Symbol">=</a> <a id="924" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="929" class="Symbol">_</a>
<a id="931" href="Booleans.html#866" class="Function">&amp;&amp;-comm</a> <a id="939" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="942" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="945" class="Symbol">=</a> <a id="947" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="952" class="Symbol">_</a>
<a id="954" href="Booleans.html#866" class="Function">&amp;&amp;-comm</a> <a id="962" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="965" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="968" class="Symbol">=</a> <a id="970" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="975" class="Symbol">_</a>
<a id="977" href="Booleans.html#866" class="Function">&amp;&amp;-comm</a> <a id="985" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="988" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="991" class="Symbol">=</a> <a id="993" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="998" class="Symbol">_</a>

<a id="||-comm"></a><a id="1001" href="Booleans.html#1001" class="Function">||-comm</a> <a id="1009" class="Symbol">:</a> <a id="1011" class="Symbol">(</a><a id="1012" href="Booleans.html#1012" class="Bound">b</a> <a id="1014" href="Booleans.html#1014" class="Bound">c</a> <a id="1016" class="Symbol">:</a> <a id="1018" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1019" class="Symbol">)</a> <a id="1021" class="Symbol">→</a> <a id="1023" class="Symbol">(</a><a id="1024" href="Booleans.html#1014" class="Bound">c</a> <a id="1026" href="Booleans.html#346" class="Function Operator">||</a> <a id="1029" href="Booleans.html#1012" class="Bound">b</a><a id="1030" class="Symbol">)</a> <a id="1032" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1034" class="Symbol">(</a><a id="1035" href="Booleans.html#1012" class="Bound">b</a> <a id="1037" href="Booleans.html#346" class="Function Operator">||</a> <a id="1040" href="Booleans.html#1014" class="Bound">c</a><a id="1041" class="Symbol">)</a>
<a id="1043" href="Booleans.html#1001" class="Function">||-comm</a> <a id="1051" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1054" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1057" class="Symbol">=</a> <a id="1059" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1064" class="Symbol">_</a>
<a id="1066" href="Booleans.html#1001" class="Function">||-comm</a> <a id="1074" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1077" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1080" class="Symbol">=</a> <a id="1082" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1087" class="Symbol">_</a>
<a id="1089" href="Booleans.html#1001" class="Function">||-comm</a> <a id="1097" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1100" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1103" class="Symbol">=</a> <a id="1105" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1110" class="Symbol">_</a>
<a id="1112" href="Booleans.html#1001" class="Function">||-comm</a> <a id="1120" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1123" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1126" class="Symbol">=</a> <a id="1128" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1133" class="Symbol">_</a>


<a id="&amp;&amp;-assoc"></a><a id="1137" href="Booleans.html#1137" class="Function">&amp;&amp;-assoc</a> <a id="1146" class="Symbol">:</a> <a id="1148" class="Symbol">(</a><a id="1149" href="Booleans.html#1149" class="Bound">b</a> <a id="1151" href="Booleans.html#1151" class="Bound">c</a> <a id="1153" href="Booleans.html#1153" class="Bound">d</a> <a id="1155" class="Symbol">:</a> <a id="1157" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1158" class="Symbol">)</a> <a id="1160" class="Symbol">→</a> <a id="1162" class="Symbol">((</a><a id="1164" href="Booleans.html#1149" class="Bound">b</a> <a id="1166" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1169" href="Booleans.html#1151" class="Bound">c</a><a id="1170" class="Symbol">)</a> <a id="1172" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1175" href="Booleans.html#1153" class="Bound">d</a><a id="1176" class="Symbol">)</a> <a id="1178" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1180" class="Symbol">(</a><a id="1181" href="Booleans.html#1149" class="Bound">b</a> <a id="1183" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1186" href="Booleans.html#1151" class="Bound">c</a> <a id="1188" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1191" href="Booleans.html#1153" class="Bound">d</a><a id="1192" class="Symbol">)</a>
<a id="1194" href="Booleans.html#1137" class="Function">&amp;&amp;-assoc</a> <a id="1203" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1206" href="Booleans.html#1206" class="Bound">c</a> <a id="1208" href="Booleans.html#1208" class="Bound">d</a> <a id="1210" class="Symbol">=</a> <a id="1212" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1217" class="Symbol">_</a>
<a id="1219" href="Booleans.html#1137" class="Function">&amp;&amp;-assoc</a> <a id="1228" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1231" href="Booleans.html#1231" class="Bound">c</a> <a id="1233" href="Booleans.html#1233" class="Bound">d</a> <a id="1235" class="Symbol">=</a> <a id="1237" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1242" class="Symbol">_</a>

<a id="||-assoc"></a><a id="1245" href="Booleans.html#1245" class="Function">||-assoc</a> <a id="1254" class="Symbol">:</a> <a id="1256" class="Symbol">(</a><a id="1257" href="Booleans.html#1257" class="Bound">b</a> <a id="1259" href="Booleans.html#1259" class="Bound">c</a> <a id="1261" href="Booleans.html#1261" class="Bound">d</a> <a id="1263" class="Symbol">:</a> <a id="1265" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1266" class="Symbol">)</a> <a id="1268" class="Symbol">→</a> <a id="1270" class="Symbol">((</a><a id="1272" href="Booleans.html#1257" class="Bound">b</a> <a id="1274" href="Booleans.html#346" class="Function Operator">||</a> <a id="1277" href="Booleans.html#1259" class="Bound">c</a><a id="1278" class="Symbol">)</a> <a id="1280" href="Booleans.html#346" class="Function Operator">||</a> <a id="1283" href="Booleans.html#1261" class="Bound">d</a><a id="1284" class="Symbol">)</a> <a id="1286" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1288" class="Symbol">(</a><a id="1289" href="Booleans.html#1257" class="Bound">b</a> <a id="1291" href="Booleans.html#346" class="Function Operator">||</a> <a id="1294" href="Booleans.html#1259" class="Bound">c</a> <a id="1296" href="Booleans.html#346" class="Function Operator">||</a> <a id="1299" href="Booleans.html#1261" class="Bound">d</a><a id="1300" class="Symbol">)</a>
<a id="1302" href="Booleans.html#1245" class="Function">||-assoc</a> <a id="1311" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1314" href="Booleans.html#1314" class="Bound">c</a> <a id="1316" href="Booleans.html#1316" class="Bound">d</a> <a id="1318" class="Symbol">=</a> <a id="1320" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1325" class="Symbol">_</a>
<a id="1327" href="Booleans.html#1245" class="Function">||-assoc</a> <a id="1336" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1339" href="Booleans.html#1339" class="Bound">c</a> <a id="1341" href="Booleans.html#1341" class="Bound">d</a> <a id="1343" class="Symbol">=</a> <a id="1345" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1350" class="Symbol">_</a>


<a id="&amp;&amp;-elim-l"></a><a id="1354" href="Booleans.html#1354" class="Function">&amp;&amp;-elim-l</a> <a id="1364" class="Symbol">:</a> <a id="1366" class="Symbol">(</a><a id="1367" href="Booleans.html#1367" class="Bound">b</a> <a id="1369" href="Booleans.html#1369" class="Bound">c</a> <a id="1371" class="Symbol">:</a> <a id="1373" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1374" class="Symbol">)</a> <a id="1376" class="Symbol">→</a> <a id="1378" class="Symbol">(</a><a id="1379" href="Booleans.html#1367" class="Bound">b</a> <a id="1381" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1384" href="Booleans.html#1369" class="Bound">c</a><a id="1385" class="Symbol">)</a> <a id="1387" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1389" href="Booleans.html#125" class="InductiveConstructor">tt</a>
          <a id="1402" class="Symbol">→</a> <a id="1404" href="Booleans.html#1367" class="Bound">b</a> <a id="1406" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1408" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="1411" href="Booleans.html#1354" class="Function">&amp;&amp;-elim-l</a> <a id="1421" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1424" href="Booleans.html#1424" class="Bound">c</a> <a id="1426" href="Booleans.html#1426" class="Bound">p</a> <a id="1428" class="Symbol">=</a> <a id="1430" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1435" class="Symbol">_</a>

<a id="&amp;&amp;-elim-r"></a><a id="1438" href="Booleans.html#1438" class="Function">&amp;&amp;-elim-r</a> <a id="1448" class="Symbol">:</a> <a id="1450" class="Symbol">(</a><a id="1451" href="Booleans.html#1451" class="Bound">b</a> <a id="1453" href="Booleans.html#1453" class="Bound">c</a> <a id="1455" class="Symbol">:</a> <a id="1457" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1458" class="Symbol">)</a> <a id="1460" class="Symbol">→</a> <a id="1462" class="Symbol">(</a><a id="1463" href="Booleans.html#1451" class="Bound">b</a> <a id="1465" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1468" href="Booleans.html#1453" class="Bound">c</a><a id="1469" class="Symbol">)</a> <a id="1471" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1473" href="Booleans.html#125" class="InductiveConstructor">tt</a>
          <a id="1486" class="Symbol">→</a> <a id="1488" href="Booleans.html#1453" class="Bound">c</a> <a id="1490" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1492" href="Booleans.html#125" class="InductiveConstructor">tt</a>
<a id="1495" href="Booleans.html#1438" class="Function">&amp;&amp;-elim-r</a> <a id="1505" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1508" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1511" href="Booleans.html#1511" class="Bound">p</a> <a id="1513" class="Symbol">=</a> <a id="1515" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1520" class="Symbol">_</a>


<a id="&amp;&amp;-||-elim"></a><a id="1524" href="Booleans.html#1524" class="Function">&amp;&amp;-||-elim</a> <a id="1535" class="Symbol">:</a> <a id="1537" class="Symbol">(</a><a id="1538" href="Booleans.html#1538" class="Bound">b</a> <a id="1540" href="Booleans.html#1540" class="Bound">c</a> <a id="1542" class="Symbol">:</a> <a id="1544" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1545" class="Symbol">)</a> <a id="1547" class="Symbol">→</a> <a id="1549" class="Symbol">(</a><a id="1550" href="Booleans.html#1538" class="Bound">b</a> <a id="1552" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1555" href="Booleans.html#1540" class="Bound">c</a><a id="1556" class="Symbol">)</a> <a id="1558" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1560" class="Symbol">(</a><a id="1561" href="Booleans.html#1538" class="Bound">b</a> <a id="1563" href="Booleans.html#346" class="Function Operator">||</a> <a id="1566" href="Booleans.html#1540" class="Bound">c</a><a id="1567" class="Symbol">)</a>
             <a id="1582" class="Symbol">→</a> <a id="1584" href="Booleans.html#1538" class="Bound">b</a> <a id="1586" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1588" href="Booleans.html#1540" class="Bound">c</a>
<a id="1590" href="Booleans.html#1524" class="Function">&amp;&amp;-||-elim</a> <a id="1601" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1604" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1607" href="Booleans.html#1607" class="Bound">p</a> <a id="1609" class="Symbol">=</a> <a id="1611" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1616" class="Symbol">_</a>
<a id="1618" href="Booleans.html#1524" class="Function">&amp;&amp;-||-elim</a> <a id="1629" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1632" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1635" href="Booleans.html#1635" class="Bound">p</a> <a id="1637" class="Symbol">=</a> <a id="1639" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1644" class="Symbol">_</a>


<a id="de-morgan-&amp;&amp;"></a><a id="1648" href="Booleans.html#1648" class="Function">de-morgan-&amp;&amp;</a> <a id="1661" class="Symbol">:</a> <a id="1663" class="Symbol">(</a><a id="1664" href="Booleans.html#1664" class="Bound">b</a> <a id="1666" href="Booleans.html#1666" class="Bound">c</a> <a id="1668" class="Symbol">:</a> <a id="1670" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1671" class="Symbol">)</a> <a id="1673" class="Symbol">→</a> <a id="1675" class="Symbol">(</a><a id="1676" href="Booleans.html#271" class="Function Operator">~</a> <a id="1678" class="Symbol">(</a><a id="1679" href="Booleans.html#1664" class="Bound">b</a> <a id="1681" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1684" href="Booleans.html#1666" class="Bound">c</a><a id="1685" class="Symbol">))</a> <a id="1688" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1690" class="Symbol">(</a><a id="1691" href="Booleans.html#271" class="Function Operator">~</a> <a id="1693" href="Booleans.html#1664" class="Bound">b</a> <a id="1695" href="Booleans.html#346" class="Function Operator">||</a> <a id="1698" href="Booleans.html#271" class="Function Operator">~</a> <a id="1700" href="Booleans.html#1666" class="Bound">c</a><a id="1701" class="Symbol">)</a>
<a id="1703" href="Booleans.html#1648" class="Function">de-morgan-&amp;&amp;</a> <a id="1716" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1719" href="Booleans.html#1719" class="Bound">c</a> <a id="1721" class="Symbol">=</a> <a id="1723" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1728" class="Symbol">_</a>
<a id="1730" href="Booleans.html#1648" class="Function">de-morgan-&amp;&amp;</a> <a id="1743" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1746" href="Booleans.html#1746" class="Bound">c</a> <a id="1748" class="Symbol">=</a> <a id="1750" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1755" class="Symbol">_</a>

<a id="de-morgan-||"></a><a id="1758" href="Booleans.html#1758" class="Function">de-morgan-||</a> <a id="1771" class="Symbol">:</a> <a id="1773" class="Symbol">(</a><a id="1774" href="Booleans.html#1774" class="Bound">b</a> <a id="1776" href="Booleans.html#1776" class="Bound">c</a> <a id="1778" class="Symbol">:</a> <a id="1780" href="Booleans.html#109" class="Datatype">𝔹</a><a id="1781" class="Symbol">)</a> <a id="1783" class="Symbol">→</a> <a id="1785" class="Symbol">(</a><a id="1786" href="Booleans.html#271" class="Function Operator">~</a> <a id="1788" class="Symbol">(</a><a id="1789" href="Booleans.html#1774" class="Bound">b</a> <a id="1791" href="Booleans.html#346" class="Function Operator">||</a> <a id="1794" href="Booleans.html#1776" class="Bound">c</a><a id="1795" class="Symbol">))</a> <a id="1798" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1800" class="Symbol">(</a><a id="1801" href="Booleans.html#271" class="Function Operator">~</a> <a id="1803" href="Booleans.html#1774" class="Bound">b</a> <a id="1805" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="1808" href="Booleans.html#271" class="Function Operator">~</a> <a id="1810" href="Booleans.html#1776" class="Bound">c</a><a id="1811" class="Symbol">)</a>
<a id="1813" href="Booleans.html#1758" class="Function">de-morgan-||</a> <a id="1826" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="1829" href="Booleans.html#1829" class="Bound">c</a> <a id="1831" class="Symbol">=</a> <a id="1833" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1838" class="Symbol">_</a>
<a id="1840" href="Booleans.html#1758" class="Function">de-morgan-||</a> <a id="1853" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="1856" href="Booleans.html#1856" class="Bound">c</a> <a id="1858" class="Symbol">=</a> <a id="1860" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="1865" class="Symbol">_</a>


<a id="~&#39;_"></a><a id="1869" href="Booleans.html#1869" class="Function Operator">~&#39;_</a> <a id="1873" class="Symbol">:</a> <a id="1875" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="1877" class="Symbol">→</a> <a id="1879" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="1881" href="Booleans.html#1869" class="Function Operator">~&#39;</a> <a id="1884" href="Booleans.html#1884" class="Bound">b</a> <a id="1886" class="Symbol">=</a> <a id="1888" href="Booleans.html#1884" class="Bound">b</a> <a id="1890" href="Booleans.html#468" class="Function Operator">nand</a> <a id="1895" href="Booleans.html#1884" class="Bound">b</a>

<a id="_&amp;&amp;&#39;_"></a><a id="1898" href="Booleans.html#1898" class="Function Operator">_&amp;&amp;&#39;_</a> <a id="1904" class="Symbol">:</a> <a id="1906" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="1908" class="Symbol">→</a> <a id="1910" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="1912" class="Symbol">→</a> <a id="1914" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="1916" href="Booleans.html#1916" class="Bound">b</a> <a id="1918" href="Booleans.html#1898" class="Function Operator">&amp;&amp;&#39;</a> <a id="1922" href="Booleans.html#1922" class="Bound">c</a> <a id="1924" class="Symbol">=</a> <a id="1926" href="Booleans.html#1869" class="Function Operator">~&#39;</a> <a id="1929" class="Symbol">(</a><a id="1930" href="Booleans.html#1916" class="Bound">b</a> <a id="1932" href="Booleans.html#468" class="Function Operator">nand</a> <a id="1937" href="Booleans.html#1922" class="Bound">c</a><a id="1938" class="Symbol">)</a>

<a id="_||&#39;_"></a><a id="1941" href="Booleans.html#1941" class="Function Operator">_||&#39;_</a> <a id="1947" class="Symbol">:</a> <a id="1949" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="1951" class="Symbol">→</a> <a id="1953" href="Booleans.html#109" class="Datatype">𝔹</a> <a id="1955" class="Symbol">→</a> <a id="1957" href="Booleans.html#109" class="Datatype">𝔹</a>
<a id="1959" href="Booleans.html#1959" class="Bound">b</a> <a id="1961" href="Booleans.html#1941" class="Function Operator">||&#39;</a> <a id="1965" href="Booleans.html#1965" class="Bound">c</a> <a id="1967" class="Symbol">=</a> <a id="1969" class="Symbol">(</a><a id="1970" href="Booleans.html#1869" class="Function Operator">~&#39;</a> <a id="1973" href="Booleans.html#1959" class="Bound">b</a><a id="1974" class="Symbol">)</a> <a id="1976" href="Booleans.html#468" class="Function Operator">nand</a> <a id="1981" class="Symbol">(</a><a id="1982" href="Booleans.html#1869" class="Function Operator">~&#39;</a> <a id="1985" href="Booleans.html#1965" class="Bound">c</a><a id="1986" class="Symbol">)</a>


<a id="~-equiv"></a><a id="1990" href="Booleans.html#1990" class="Function">~-equiv</a> <a id="1998" class="Symbol">:</a> <a id="2000" class="Symbol">(</a><a id="2001" href="Booleans.html#2001" class="Bound">b</a> <a id="2003" class="Symbol">:</a> <a id="2005" href="Booleans.html#109" class="Datatype">𝔹</a><a id="2006" class="Symbol">)</a> <a id="2008" class="Symbol">→</a> <a id="2010" class="Symbol">(</a><a id="2011" href="Booleans.html#1869" class="Function Operator">~&#39;</a> <a id="2014" href="Booleans.html#2001" class="Bound">b</a><a id="2015" class="Symbol">)</a> <a id="2017" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="2019" class="Symbol">(</a><a id="2020" href="Booleans.html#271" class="Function Operator">~</a> <a id="2022" href="Booleans.html#2001" class="Bound">b</a><a id="2023" class="Symbol">)</a>
<a id="2025" href="Booleans.html#1990" class="Function">~-equiv</a> <a id="2033" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2036" class="Symbol">=</a> <a id="2038" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2043" class="Symbol">_</a>
<a id="2045" href="Booleans.html#1990" class="Function">~-equiv</a> <a id="2053" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2056" class="Symbol">=</a> <a id="2058" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2063" class="Symbol">_</a>

<a id="&amp;&amp;-equiv"></a><a id="2066" href="Booleans.html#2066" class="Function">&amp;&amp;-equiv</a> <a id="2075" class="Symbol">:</a> <a id="2077" class="Symbol">(</a><a id="2078" href="Booleans.html#2078" class="Bound">b</a> <a id="2080" href="Booleans.html#2080" class="Bound">c</a> <a id="2082" class="Symbol">:</a> <a id="2084" href="Booleans.html#109" class="Datatype">𝔹</a><a id="2085" class="Symbol">)</a> <a id="2087" class="Symbol">→</a> <a id="2089" class="Symbol">(</a><a id="2090" href="Booleans.html#2078" class="Bound">b</a> <a id="2092" href="Booleans.html#1898" class="Function Operator">&amp;&amp;&#39;</a> <a id="2096" href="Booleans.html#2080" class="Bound">c</a><a id="2097" class="Symbol">)</a> <a id="2099" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="2101" class="Symbol">(</a><a id="2102" href="Booleans.html#2078" class="Bound">b</a> <a id="2104" href="Booleans.html#303" class="Function Operator">&amp;&amp;</a> <a id="2107" href="Booleans.html#2080" class="Bound">c</a><a id="2108" class="Symbol">)</a>
<a id="2110" href="Booleans.html#2066" class="Function">&amp;&amp;-equiv</a> <a id="2119" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2122" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2125" class="Symbol">=</a> <a id="2127" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2132" class="Symbol">_</a>
<a id="2134" href="Booleans.html#2066" class="Function">&amp;&amp;-equiv</a> <a id="2143" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2146" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2149" class="Symbol">=</a> <a id="2151" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2156" class="Symbol">_</a>
<a id="2158" href="Booleans.html#2066" class="Function">&amp;&amp;-equiv</a> <a id="2167" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2170" href="Booleans.html#2170" class="Bound">c</a> <a id="2172" class="Symbol">=</a> <a id="2174" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2179" class="Symbol">_</a>

<a id="||-equiv"></a><a id="2182" href="Booleans.html#2182" class="Function">||-equiv</a> <a id="2191" class="Symbol">:</a> <a id="2193" class="Symbol">(</a><a id="2194" href="Booleans.html#2194" class="Bound">b</a> <a id="2196" href="Booleans.html#2196" class="Bound">c</a> <a id="2198" class="Symbol">:</a> <a id="2200" href="Booleans.html#109" class="Datatype">𝔹</a><a id="2201" class="Symbol">)</a> <a id="2203" class="Symbol">→</a> <a id="2205" class="Symbol">(</a><a id="2206" href="Booleans.html#2194" class="Bound">b</a> <a id="2208" href="Booleans.html#1941" class="Function Operator">||&#39;</a> <a id="2212" href="Booleans.html#2196" class="Bound">c</a><a id="2213" class="Symbol">)</a> <a id="2215" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="2217" class="Symbol">(</a><a id="2218" href="Booleans.html#2194" class="Bound">b</a> <a id="2220" href="Booleans.html#346" class="Function Operator">||</a> <a id="2223" href="Booleans.html#2196" class="Bound">c</a><a id="2224" class="Symbol">)</a>
<a id="2226" href="Booleans.html#2182" class="Function">||-equiv</a> <a id="2235" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2238" href="Booleans.html#2238" class="Bound">c</a> <a id="2240" class="Symbol">=</a> <a id="2242" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2247" class="Symbol">_</a>
<a id="2249" href="Booleans.html#2182" class="Function">||-equiv</a> <a id="2258" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2261" href="Booleans.html#125" class="InductiveConstructor">tt</a> <a id="2264" class="Symbol">=</a> <a id="2266" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2271" class="Symbol">_</a>
<a id="2273" href="Booleans.html#2182" class="Function">||-equiv</a> <a id="2282" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2285" href="Booleans.html#128" class="InductiveConstructor">ff</a> <a id="2288" class="Symbol">=</a> <a id="2290" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="2295" class="Symbol">_</a>


