<a id="1" class="Symbol">{-#</a> <a id="5" class="Keyword">OPTIONS</a> <a id="13" class="Pragma">--without-K</a> <a id="25" class="Pragma">--exact-split</a> <a id="39" class="Pragma">--safe</a> <a id="46" class="Symbol">#-}</a>

<a id="51" class="Keyword">module</a> <a id="58" href="Utilities.html" class="Module">Utilities</a> <a id="68" class="Keyword">where</a>

<a id="75" class="Keyword">open</a> <a id="80" class="Keyword">import</a> <a id="87" href="Agda.Primitive.html" class="Module">Agda.Primitive</a> <a id="102" class="Keyword">public</a>

<a id="110" class="Keyword">variable</a>
  <a id="121" href="Utilities.html#121" class="Generalizable">ℓ</a> <a id="123" href="Utilities.html#123" class="Generalizable">ℓ&#39;</a> <a id="126" href="Utilities.html#126" class="Generalizable">ℓ&#39;&#39;</a> <a id="130" class="Symbol">:</a> <a id="132" href="Agda.Primitive.html#408" class="Postulate">Level</a>

<a id="139" class="Keyword">data</a> <a id="𝟙"></a><a id="144" href="Utilities.html#144" class="Datatype">𝟙</a> <a id="146" class="Symbol">:</a> <a id="148" class="PrimitiveType">Set</a> <a id="152" class="Keyword">where</a>
  <a id="𝟙.*"></a><a id="160" href="Utilities.html#160" class="InductiveConstructor">*</a> <a id="162" class="Symbol">:</a> <a id="164" href="Utilities.html#144" class="Datatype">𝟙</a>

<a id="𝟙-induction"></a><a id="167" href="Utilities.html#167" class="Function">𝟙-induction</a> <a id="179" class="Symbol">:</a> <a id="181" class="Symbol">(</a><a id="182" href="Utilities.html#182" class="Bound">A</a> <a id="184" class="Symbol">:</a> <a id="186" href="Utilities.html#144" class="Datatype">𝟙</a> <a id="188" class="Symbol">→</a> <a id="190" class="PrimitiveType">Set</a> <a id="194" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="195" class="Symbol">)</a> <a id="197" class="Symbol">→</a> <a id="199" href="Utilities.html#182" class="Bound">A</a> <a id="201" href="Utilities.html#160" class="InductiveConstructor">*</a>
            <a id="215" class="Symbol">→</a> <a id="217" class="Symbol">(</a><a id="218" href="Utilities.html#218" class="Bound">x</a> <a id="220" class="Symbol">:</a> <a id="222" href="Utilities.html#144" class="Datatype">𝟙</a><a id="223" class="Symbol">)</a> <a id="225" class="Symbol">→</a> <a id="227" href="Utilities.html#182" class="Bound">A</a> <a id="229" href="Utilities.html#218" class="Bound">x</a>
<a id="231" href="Utilities.html#167" class="Function">𝟙-induction</a> <a id="243" href="Utilities.html#243" class="Bound">A</a> <a id="245" href="Utilities.html#245" class="Bound">a</a> <a id="247" href="Utilities.html#160" class="InductiveConstructor">*</a> <a id="249" class="Symbol">=</a> <a id="251" href="Utilities.html#245" class="Bound">a</a>            

<a id="𝟙-recursion"></a><a id="266" href="Utilities.html#266" class="Function">𝟙-recursion</a> <a id="278" class="Symbol">:</a> <a id="280" class="Symbol">(</a><a id="281" href="Utilities.html#281" class="Bound">B</a> <a id="283" class="Symbol">:</a> <a id="285" class="PrimitiveType">Set</a> <a id="289" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="290" class="Symbol">)</a> <a id="292" class="Symbol">→</a> <a id="294" href="Utilities.html#281" class="Bound">B</a>
            <a id="308" class="Symbol">→</a> <a id="310" href="Utilities.html#144" class="Datatype">𝟙</a> <a id="312" class="Symbol">→</a> <a id="314" href="Utilities.html#281" class="Bound">B</a>
<a id="316" href="Utilities.html#266" class="Function">𝟙-recursion</a> <a id="328" href="Utilities.html#328" class="Bound">B</a>  <a id="331" class="Symbol">=</a> <a id="333" href="Utilities.html#167" class="Function">𝟙-induction</a> <a id="345" class="Symbol">(λ</a> <a id="348" href="Utilities.html#348" class="Bound">_</a> <a id="350" class="Symbol">→</a> <a id="352" href="Utilities.html#328" class="Bound">B</a><a id="353" class="Symbol">)</a>            

<a id="!𝟙"></a><a id="368" href="Utilities.html#368" class="Function">!𝟙</a> <a id="371" class="Symbol">:</a> <a id="373" class="Symbol">{</a><a id="374" href="Utilities.html#374" class="Bound">B</a> <a id="376" class="Symbol">:</a> <a id="378" class="PrimitiveType">Set</a> <a id="382" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="383" class="Symbol">}</a> <a id="385" class="Symbol">→</a> <a id="387" href="Utilities.html#374" class="Bound">B</a> <a id="389" class="Symbol">→</a> <a id="391" href="Utilities.html#144" class="Datatype">𝟙</a>
<a id="393" href="Utilities.html#368" class="Function">!𝟙</a> <a id="396" class="Symbol">_</a> <a id="398" class="Symbol">=</a> <a id="400" href="Utilities.html#160" class="InductiveConstructor">*</a>

<a id="!𝟙&#39;"></a><a id="403" href="Utilities.html#403" class="Function">!𝟙&#39;</a> <a id="407" class="Symbol">:</a> <a id="409" class="Symbol">(</a><a id="410" href="Utilities.html#410" class="Bound">B</a> <a id="412" class="Symbol">:</a> <a id="414" class="PrimitiveType">Set</a> <a id="418" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="419" class="Symbol">)</a> <a id="421" class="Symbol">→</a> <a id="423" href="Utilities.html#410" class="Bound">B</a> <a id="425" class="Symbol">→</a> <a id="427" href="Utilities.html#144" class="Datatype">𝟙</a>
<a id="429" href="Utilities.html#403" class="Function">!𝟙&#39;</a> <a id="433" class="Symbol">_</a> <a id="435" class="Symbol">=</a> <a id="437" href="Utilities.html#368" class="Function">!𝟙</a>

<a id="441" class="Keyword">data</a> <a id="𝟘"></a><a id="446" href="Utilities.html#446" class="Datatype">𝟘</a> <a id="448" class="Symbol">:</a> <a id="450" class="PrimitiveType">Set</a> <a id="454" class="Keyword">where</a>

<a id="𝟘-induction"></a><a id="461" href="Utilities.html#461" class="Function">𝟘-induction</a> <a id="473" class="Symbol">:</a> <a id="475" class="Symbol">(</a><a id="476" href="Utilities.html#476" class="Bound">A</a> <a id="478" class="Symbol">:</a> <a id="480" href="Utilities.html#446" class="Datatype">𝟘</a> <a id="482" class="Symbol">→</a> <a id="484" class="PrimitiveType">Set</a> <a id="488" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="489" class="Symbol">)</a>
            <a id="503" class="Symbol">→</a> <a id="505" class="Symbol">(</a><a id="506" href="Utilities.html#506" class="Bound">x</a> <a id="508" class="Symbol">:</a> <a id="510" href="Utilities.html#446" class="Datatype">𝟘</a><a id="511" class="Symbol">)</a> <a id="513" class="Symbol">→</a> <a id="515" href="Utilities.html#476" class="Bound">A</a> <a id="517" href="Utilities.html#506" class="Bound">x</a>
<a id="519" href="Utilities.html#461" class="Function">𝟘-induction</a> <a id="531" href="Utilities.html#531" class="Bound">A</a> <a id="533" class="Symbol">()</a>

<a id="𝟘-recursion"></a><a id="537" href="Utilities.html#537" class="Function">𝟘-recursion</a> <a id="549" class="Symbol">:</a> <a id="551" class="Symbol">(</a><a id="552" href="Utilities.html#552" class="Bound">B</a> <a id="554" class="Symbol">:</a> <a id="556" class="PrimitiveType">Set</a> <a id="560" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="561" class="Symbol">)</a>
            <a id="575" class="Symbol">→</a> <a id="577" href="Utilities.html#446" class="Datatype">𝟘</a> <a id="579" class="Symbol">→</a> <a id="581" href="Utilities.html#552" class="Bound">B</a>
<a id="583" href="Utilities.html#537" class="Function">𝟘-recursion</a> <a id="595" href="Utilities.html#595" class="Bound">B</a> <a id="597" class="Symbol">=</a> <a id="599" href="Utilities.html#461" class="Function">𝟘-induction</a> <a id="611" class="Symbol">λ</a> <a id="613" href="Utilities.html#613" class="Bound">_</a> <a id="615" class="Symbol">→</a> <a id="617" href="Utilities.html#595" class="Bound">B</a>            

<a id="632" class="Comment">{-
 We use !𝟘 a lot more than !𝟙 because it sometimes make sense 
  to assume a falsehood, but we never really want to prove vacuous truth
-}</a>

<a id="!𝟘"></a><a id="775" href="Utilities.html#775" class="Function">!𝟘</a> <a id="778" class="Symbol">:</a> <a id="780" class="Symbol">{</a><a id="781" href="Utilities.html#781" class="Bound">B</a> <a id="783" class="Symbol">:</a> <a id="785" class="PrimitiveType">Set</a> <a id="789" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="790" class="Symbol">}</a> <a id="792" class="Symbol">→</a> <a id="794" href="Utilities.html#446" class="Datatype">𝟘</a> <a id="796" class="Symbol">→</a> <a id="798" href="Utilities.html#781" class="Bound">B</a>
<a id="800" href="Utilities.html#775" class="Function">!𝟘</a> <a id="803" class="Symbol">{</a><a id="804" href="Utilities.html#804" class="Bound">ℓ</a><a id="805" class="Symbol">}</a> <a id="807" class="Symbol">{</a><a id="808" href="Utilities.html#808" class="Bound">B</a><a id="809" class="Symbol">}</a> <a id="811" class="Symbol">=</a> <a id="813" href="Utilities.html#537" class="Function">𝟘-recursion</a> <a id="825" href="Utilities.html#808" class="Bound">B</a>

<a id="!𝟘&#39;"></a><a id="828" href="Utilities.html#828" class="Function">!𝟘&#39;</a> <a id="832" class="Symbol">:</a> <a id="834" class="Symbol">(</a><a id="835" href="Utilities.html#835" class="Bound">B</a> <a id="837" class="Symbol">:</a> <a id="839" class="PrimitiveType">Set</a> <a id="843" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="844" class="Symbol">)</a> <a id="846" class="Symbol">→</a> <a id="848" href="Utilities.html#446" class="Datatype">𝟘</a> <a id="850" class="Symbol">→</a> <a id="852" href="Utilities.html#835" class="Bound">B</a>
<a id="854" href="Utilities.html#828" class="Function">!𝟘&#39;</a> <a id="858" class="Symbol">_</a> <a id="860" class="Symbol">=</a> <a id="862" href="Utilities.html#775" class="Function">!𝟘</a>

<a id="is-empty"></a><a id="866" href="Utilities.html#866" class="Function">is-empty</a> <a id="875" class="Symbol">:</a> <a id="877" class="PrimitiveType">Set</a> <a id="881" href="Utilities.html#121" class="Generalizable">ℓ</a> <a id="883" class="Symbol">→</a> <a id="885" class="PrimitiveType">Set</a> <a id="889" href="Utilities.html#121" class="Generalizable">ℓ</a>
<a id="891" href="Utilities.html#866" class="Function">is-empty</a> <a id="900" href="Utilities.html#900" class="Bound">X</a> <a id="902" class="Symbol">=</a> <a id="904" href="Utilities.html#900" class="Bound">X</a> <a id="906" class="Symbol">→</a> <a id="908" href="Utilities.html#446" class="Datatype">𝟘</a>

<a id="¬"></a><a id="911" href="Utilities.html#911" class="Function">¬</a> <a id="913" class="Symbol">:</a> <a id="915" class="PrimitiveType">Set</a> <a id="919" href="Utilities.html#121" class="Generalizable">ℓ</a> <a id="921" class="Symbol">→</a> <a id="923" class="PrimitiveType">Set</a> <a id="927" href="Utilities.html#121" class="Generalizable">ℓ</a>
<a id="929" href="Utilities.html#911" class="Function">¬</a> <a id="931" href="Utilities.html#931" class="Bound">X</a> <a id="933" class="Symbol">=</a> <a id="935" href="Utilities.html#866" class="Function">is-empty</a> <a id="944" href="Utilities.html#931" class="Bound">X</a>

<a id="947" class="Keyword">data</a> <a id="Id"></a><a id="952" href="Utilities.html#952" class="Datatype">Id</a> <a id="955" class="Symbol">(</a><a id="956" href="Utilities.html#956" class="Bound">X</a> <a id="958" class="Symbol">:</a> <a id="960" class="PrimitiveType">Set</a> <a id="964" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="965" class="Symbol">)</a> <a id="967" class="Symbol">:</a> <a id="969" href="Utilities.html#956" class="Bound">X</a> <a id="971" class="Symbol">→</a> <a id="973" href="Utilities.html#956" class="Bound">X</a> <a id="975" class="Symbol">→</a> <a id="977" class="PrimitiveType">Set</a> <a id="981" href="Utilities.html#964" class="Bound">ℓ</a> <a id="983" class="Keyword">where</a>
 <a id="Id.refl"></a><a id="990" href="Utilities.html#990" class="InductiveConstructor">refl</a> <a id="995" class="Symbol">:</a> <a id="997" class="Symbol">(</a><a id="998" href="Utilities.html#998" class="Bound">x</a> <a id="1000" class="Symbol">:</a> <a id="1002" href="Utilities.html#956" class="Bound">X</a><a id="1003" class="Symbol">)</a> <a id="1005" class="Symbol">→</a> <a id="1007" href="Utilities.html#952" class="Datatype">Id</a> <a id="1010" href="Utilities.html#956" class="Bound">X</a> <a id="1012" href="Utilities.html#998" class="Bound">x</a> <a id="1014" href="Utilities.html#998" class="Bound">x</a>

<a id="1017" class="Comment">{-
  Note equality is different than Idris&#39;s builtin
-}</a>

<a id="_≡_"></a><a id="1074" href="Utilities.html#1074" class="Function Operator">_≡_</a> <a id="1078" class="Symbol">:</a> <a id="1080" class="Symbol">{</a><a id="1081" href="Utilities.html#1081" class="Bound">X</a> <a id="1083" class="Symbol">:</a> <a id="1085" class="PrimitiveType">Set</a> <a id="1089" href="Utilities.html#121" class="Generalizable">ℓ</a><a id="1090" class="Symbol">}</a> <a id="1092" class="Symbol">→</a> <a id="1094" href="Utilities.html#1081" class="Bound">X</a> <a id="1096" class="Symbol">→</a> <a id="1098" href="Utilities.html#1081" class="Bound">X</a> <a id="1100" class="Symbol">→</a> <a id="1102" class="PrimitiveType">Set</a> <a id="1106" href="Utilities.html#121" class="Generalizable">ℓ</a>
<a id="1108" href="Utilities.html#1108" class="Bound">x</a> <a id="1110" href="Utilities.html#1074" class="Function Operator">≡</a> <a id="1112" href="Utilities.html#1112" class="Bound">y</a> <a id="1114" class="Symbol">=</a> <a id="1116" href="Utilities.html#952" class="Datatype">Id</a> <a id="1119" class="Symbol">_</a> <a id="1121" href="Utilities.html#1108" class="Bound">x</a> <a id="1123" href="Utilities.html#1112" class="Bound">y</a>
